@import "../../../assets/styles/variables.scss";


.container{
  height:60vh;
}
.card {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  


  border-radius: 30px;
  background: #f99292;
  box-shadow: 15px 15px 30px #7f5d5d,
              -15px -15px 30px #ffbebe;
}

.header-image {
  background-size: cover;

}

.mat-card-header{
  background-color: white;
  padding-top: 10px;
  border-radius: 10px;
}

.mat-card-title{
  text-transform: uppercase;
  color: black;
}

.mat-card-subtitle{
  color: black;
}
