<mat-toolbar>
  <div class="contenedor-nav">
    <img class="imagen" src="https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/d98dde45d242734.png" alt="">
    <!-- Con esta clase indico un espacio entre botones-->

    <div class="example-button-row">
      <a mat-button routerLink="home">Inicio</a>
      <a mat-button routerLink="pokedex">Pokedex</a>
      <a mat-button routerLink="counterPick">Counter-Pick</a>
      <a mat-button routerLink="curiosidades">Curiosidades</a>
      
    </div>
  </div>
</mat-toolbar>
