<div class="contenedor">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active " data-bs-interval="10000">
            <div class="fondo"> <a href="home" routerLink="home">
              <img src="../../../../assets/poketitulos/HOME2.png" alt="">
            </a></div>
            
          </div>
          <div class="carousel-item  " data-bs-interval="2000">
           <div class="fondo1">
            <a href="pokedex">
              <img src="../../../../assets/poketitulos/POKEDEX2.png" alt="">
            </a>
           </div>
            
           
          </div>
          <div class="carousel-item ">
            <div class="fondo2"><a href="counterPick">
              <img src="../../../../assets/poketitulos/COUNTERPICK2.png" alt="">
            </a></div>
              

            
          </div>
          <div class="carousel-item ">
            <div class="fondo3">
              <a href="curiosidades">
                <img src="../../../../assets/poketitulos/CURIOSIDADES2.png" alt="">
              </a>
            </div>
          </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      
</div>

<footer>todos los derechos reservados para aguwu y pachax</footer>